{
    "extends": "airbnb-base",
    "rules": {
        "comma-dangle": [2, "never"],
        "arrow-parens": [2, "as-needed"],
        "linebreak-style": 0,
        "padded-blocks": 0,
        "indent": [1, 4],
        "no-underscore-dangle": [2, { "allow": ["_id", "__v", "_doc"] } ],
        "no-param-reassign": [2, { "props": false }],
        "object-shorthand": [2, "never"],
        "new-cap": [2, { "capIsNewExceptions": ["Router", "ObjectId"] }],
        "max-len": [1, 140],
        "no-plusplus": 0
    },
    "env": {
        "node": true
    }
}